<% 
include('include/connect.inc'); 
include('include/home/header.inc');
%>
<html>
<head>
<title>CAPENAROL.COM</title>
<style type="text/css">
<!--
a:link {  text-decoration: none}
a:visited {  text-decoration: none}
body{behavior:url(#default#homePage)}
-->
</style>
<link rel="stylesheet" href="style/general_style.css">
<meta name="keywords" content="peñarol,club,atletico,capenarol,capeñarol,futbul,uruguay,futbol uruguayo,copas,sportsya,deportes,camisetas,bengoechea">
<meta name="description" content="Sitio Oficial del Club Atlético Peñarol">
<meta http-equiv="refresh" content="10000">
<meta name="autor" content="Equipo de desarrollo de SportsYa Argentina: Esteban Raffo, Hernán Principe, Hernán Javier Ramírez, Carola Coppa">
</head>
<script language="JavaScript">
<!-- 

function sub(){
window.open("","Encuesta","width=315,height=150,scrollbars=0");
document.encuesta.submit();
}

function submitform(nombre){
	var sent="document." + nombre + ".submit()";
	eval(sent);
	return true;
}

var app=navigator.appName;

 function ApareceCapa(capa){
   if (app.indexOf('Netscape') != -1) { 
	var orden="window.document."+capa+".visibility";
	}else{
	var orden=capa+".style.visibility";
	}
   eval(orden+"='visible'");
   return true;
 }

 function ApagaCapa(capa){
   if (app.indexOf('Netscape') != -1) { 
	var orden="window.document."+capa+".visibility";
	}else{
	var orden=capa+".style.visibility";
	}
   eval(orden+"='hidden'");
   return true;
 }

function mOvr(src,clrOver) { 
	if (!src.contains(event.fromElement)) { 
	src.style.cursor = 'hand'; 
	src.bgColor = clrOver;
	}
} 

function mOut(src,clrIn) { 
	if (!src.contains(event.toElement)) {
	src.style.cursor = 'default'; 
	src.bgColor = clrIn; }
}

function openwin(theURL,winName,features) {
  window.open(theURL,winName,features);
}

function showImage (url, name, w, h) {	
	var n3 = (navigator.appName.indexOf('Netscape')!=-1 && navigator.appVersion.indexOf('3.')!=-1)?true:false;
	var ww = (n3)?(parseInt(w)+20):parseInt(w);
	var wh = (n3)?(parseInt(h)+20):parseInt(h);
	var winname = (name.indexOf(' ')!=-1)?name.substring(0, name.indexOf(' ')):name;
	var wnd = window.open('', winname, 'width='+ww+',height='+(wh+0));
	var code =  "<html><head>\n" +
				"<title>" + name + "</title></head>\n" +
				"<body bgcolor=#000000 text=#CCCCCC marginwidth=0 marginheight=0 leftmargin=0 topmargin=0>\n" +
				"<center><img src=\"" + url + "\"><br>\n" +
				"</center></body></html>"
	wnd.document.write(code);
	wnd.document.close();
}

//-->
</Script>
<body marginwidth="0" marginheight="0" topmargin="0" leftmargin="0" bgcolor="#FFFFFF" onLoad="javascript:openwin ('img/img_popups/popup.html', 'pop', 'width=250,height=200,scrollbars=0')">
<table border="0" cellspacing="0" cellpadding="0" width="100%">
  <tr> 
    <td background="img/img_general/left.gif" width="20%">&nbsp;</td>
    <td width="756">
        <table width="756" border="0" cellspacing="0" cellpadding="0" background="img/img_general/header_fondo.gif">
          <tr>
            
          <td width="292"><img src="img/img_general/header1.jpg" width="292" height="51"></td>
            
          <td>&nbsp;</td>
            
          <td align="right" width="210"><img src="img/img_general/header2.jpg" width="210" height="51"></td>
          </tr>
        </table>
    </td>
    <td background="img/img_general/right.gif" width="20%">&nbsp;</td>
  </tr>
</table>
<table border="0" cellspacing="0" cellpadding="0" width="100%">
  <tr> 
    <td width="20%" height="704">&nbsp;</td>
    <td width="756" height="704"> 
      <table width="756" border="0" cellspacing="0" cellpadding="0">
        <tr> 
          <td width="237" valign="top" background="img/img_general/fondo_izq.gif"> 
            <table width="237" border="0" cellspacing="0" cellpadding="0">
              <tr> 
                <td width="222" valign="top"><img src="img/img_general/bajo_escudo.jpg" width="222" height="141" usemap="#Map4" border="0"><map name="Map4"><area shape="rect" coords="26,126,209,141" href="http://uruguay.sportsya.com" alt="El Sitio Oficial del Deporte" title="El Sitio Oficial del Deporte" target="_blank"></map><br>
                  <br>
                  <table width="210" border="0" cellspacing="0" cellpadding="0" align="right">
                    <tr background="img/img_general/backer.gif"> 
                      <td><img src="img/img_general/estrellita.gif" width="20" height="18" vspace="0" hspace="0"> 
                        <a href="javascript:document.body.setHomePage('http://www.capenarol.com/')" class="TexAri1Negra"><b>Capenarol 
                        como p&aacute;gina de inicio</b></a><br>
                        <img src="img/img_general/estrellita.gif" width="20" height="18" vspace="0" hspace="0"> 
                        <a href="javascript:openwin('registrate/index.html','formulario','width=420,height=400,scrollbars=1')" class="TexAri1Negra"><b>Recibe 
                        las noticias por E-Mail </b></a><br>
                        <img src="img/img_general/estrellita.gif" width="20" height="18" vspace="0" hspace="0"><a href="javascript:openwin('recomienda/index.html','formulario','width=405,height=250,scrollbars=0')" class="TexAri1Negra"> 
                        <b>Recomienda esta p&aacute;gina</b></a> </td>
                    </tr>
                  </table>
                  
                </td>
                <td width="15" bgcolor="#F5D300" valign="top" background="img/img_general/backer.gif"><img src="img/img_general/borde_pant_izq1.gif" width="15" height="216" vspace="0" hspace="0" align="top"> 
                </td>
              </tr>
            </table>
            <table border="0" cellspacing="0" cellpadding="0" width="237" background="img/img_general/fondo_izq.gif">
              <tr> 
                <td width="18" bgcolor="#FFFFFF" background="img/img_general/fondo_izq.gif">&nbsp;</td>
                <td width="219" background="img/img_general/backer.gif"><b><% include('include/home/entrevista.inc'); %> </b><img src="img/img_general/spacer.gif" width="202" height="1">                   
                  <% include('include/home/game.inc'); %><br>
                  <form method="post" action="buscador/index.html" name="busqueda">
                    <table width="207" border="0" cellspacing="1" cellpadding="1" bordercolorlight="#000000" bordercolordark="#000000" height="30" bgcolor="#000000">
                      <tr valign="middle" background="img/img_general/gris.gif" bgcolor="#CCCCCC"> 
                        <td height="11" class="TexAri1Negra"> &nbsp; 
                          <input type="text" name="q" size="8" value="Buscar"  style="font-family:Arial;font-size:10">
                          <select name="tipo" size="1" style="font-family:Arial;font-size:10">
                            <option value="capenarol">En Capenarol</option>
                            <option value="entrevistas">Entrevistas</option>
                            <option value="noticias">Noticias</option>
                            <option value="plantel">Plantel</option>
                          </select>
                          <b>IR</b>
                          <input type="image" src="img/img_general/go.gif" name="Click para buscar" value="Submit" border="0">
                        </td>
                      </tr>
                    </table>
				</form>
  <form name=loginForm method='POST' action='http://mail.capenarol.com/basilix.php'>
    <input type=hidden name=RequestID value=LOGIN>
                  <table width="207" border="0" cellspacing="0" cellpadding="0" background="img/img_general/spacer.gif">
                    <tr> 
                      <td width="195" bgcolor="#000000" height="6" class="TexVer1Naranja"><b><span class="TexVer1Blanca">Su 
                        Mail</span> @capenarol.com</b></td>
                    </tr>
                  </table>
                  <table width="207" border="0" cellpadding="0" cellspacing="0" hspace="1">
                    <tr>
                      <td><img src="img/img_general/blanco.gif" width="1" height="1"></td>
                    </tr>
                  </table>
                    <table width="207" border="0" cellspacing="0" cellpadding="0" bgcolor="#000000">
                      <tr bgcolor="#FFFFFF" background="img/img_general/blanco.gif"> 
                        <td class="TexAri1Negra" background="img/img_general/spacer.gif" width="1"><img src="img/img_general/spacer.gif" width="1" height="1"></td>
                        <td class="TexAri1Negra" align="center" width="90"><b> 
                          Usuario </b></td>
                        <td class="TexAri1Negra" align="center" width="90"><b>Clave</b></td>
                        <td class="TexAri1Negra" width="25" align="center">&nbsp;</td>
                        <td class="TexAri1Negra" background="img/img_general/spacer.gif" width="1"><img src="img/img_general/spacer.gif" width="1" height="1"></td>
                      </tr>
                      <tr bgcolor="#FFFFFF" background="img/img_general/blanco.gif" class="TexAri1Negra"> 
                        <td class="TexAri1Negra" background="img/img_general/spacer.gif" width="1"><img src="img/img_general/spacer.gif" width="1" height="1"></td>
                        <td align="center" width="90"><b> 
                          <input type="text" name="username" size="6">
                          </b></td>
                        <td align="center" width="90"><b> 
                          <input type="password" name="password" size="6">
<input type="hidden" name="domain" value="penarol.sportsya.net">
                <!--
<select name=domain class=input size=1>
<option value='0'>[ Please select ]</option>
<option value='penarol.sportsya.net'>capenarol.com</option>
</select>
-->
                          </b></td>
                        <td width="25" align="center"><b>
                          <input type="image" src="img/img_general/go.gif" name="Click para ingresar" value="Submit" border="0">
                          </b></td>
                        <td class="TexAri1Negra" background="img/img_general/spacer.gif" width="1"><img src="img/img_general/spacer.gif" width="1" height="1"></td>
                      </tr>
                    </table>
                    <table width="207" border="0" cellspacing="1" cellpadding="1" bgcolor="#000000">
                      <tr background="img/img_general/gris.gif" align="center" bgcolor="#CCCCCC"> 
                        <td><a href="javascript:openwin('registrate/index.html','formulario','width=420,height=400,scrollbars=1')" class="TexVer1Negro"><b>SI 
                          ERES FAN&Aacute;TICO DE PE&Ntilde;AROL&nbsp;<br>
                          &nbsp;Tienes que tener tu mail aurinegro</b></a></td>
                    </tr>
                  </table>
                  </form>
                  
                </td>
              </tr>
            </table>
          </td>
          <td valign="top" width="387"> 
            <table border="0" cellspacing="0" cellpadding="0" width="387">
              <tr valign="bottom"> 
                <td height="17" background="img/img_general/fondo_menu.gif"><img src="img/img_general/menu.gif" width="377" height="13" usemap="#Map" border="0"><map name="Map"> 
                    <area shape="rect" coords="0,1,91,14" href="primera_div/index.php3" onMouseOver="ApareceCapa('primera');" onMouseOut="ApagaCapa('primera');"><area shape="rect" coords="108,2,215,13" href="juveniles/index.php3"><area shape="rect" coords="227,2,289,13" href="institucion/index.php3" onMouseOver="ApareceCapa('institucion');" onMouseOut="ApagaCapa('institucion');"> 
                    <area shape="rect" coords="298,3,374,13" href="javascript:showImage('transmisiones/no_transmite.jpg', 'Transmisiones', '300', '250')"> 
                  </map></td>
              </tr>
              <tr> 
                <td> 
                  <div id="primera" style="position:absolute; z-index:1; top: 66px; visibility: hidden" onMouseOver="ApareceCapa('primera');" onMouseOut="ApagaCapa('primera');" class="TexAri1Blanca"> 
                    <br>
                    <table width="100" border="0" cellspacing="1" cellpadding="1" bgcolor="#000000">
                      <tr align="center" bgcolor="#999999"> 
                        <td onMouseOver="mOvr(this,'#666666');" onMouseOut="mOut(this,'#999999');" ><a href="primera_div/index.php3"><span class="TexAri1Blanca">Noticias</span></a></td>
                      </tr>
                      <tr align="center" bgcolor="#999999"> 
                        <td onMouseOver="mOvr(this,'#666666');" onMouseOut="mOut(this,'#999999');" ><a href="primera_div/?mostrar=fixture"><span class="TexAri1Blanca">Campaña 
                          Local</span></a></td>
                      </tr>
                      <tr align="center" bgcolor="#999999"> 
                        <td onMouseOver="mOvr(this,'#666666');" onMouseOut="mOut(this,'#999999');"><a href="primera_div/?mostrar=plantel"><span class="TexAri1Blanca">Plantel</span></a></td>
                      </tr>
                    </table>
                  </div>
                  <div id="juveniles" style="position:absolute; z-index:1; top: 66px;; visibility: hidden" onMouseOver="ApareceCapa('juveniles');" onMouseOut="ApagaCapa('juveniles');"> 
                    <table width="220" border="0" cellspacing="0" cellpadding="0">
                      <tr align="right"> 
                        <td class="TexAri1Blanca"><br>
                          <table width="120" border="0" cellspacing="1" cellpadding="1" bgcolor="#000000">
                            <tr align="center" bgcolor="#999999"> 
                              <td onMouseOver="mOvr(this,'#666666');" onMouseOut="mOut(this,'#999999');" ><a href="juveniles/juveniles_inicio.html"><span class="TexAri1Blanca">Noticias</span></a></td>
                            </tr>
<tr align="center" bgcolor="#999999"> 
                              <td onMouseOver="mOvr(this,'#666666');" onMouseOut="mOut(this,'#999999');" ><a href="juveniles/juveniles_inicio.html"><span class="TexAri1Blanca">Tercera 
                                Divisi&oacute;n</span></a></td>
                            </tr>
                            <tr align="center" bgcolor="#999999"> 
                              <td onMouseOver="mOvr(this,'#666666');" onMouseOut="mOut(this,'#999999');"><a href="juveniles/juveniles_inicio.html"><span class="TexAri1Blanca">Cuarta 
                                Divisi&oacute;n</span></a></td>
                            </tr>
                            <tr align="center" bgcolor="#999999"> 
                              <td onMouseOver="mOvr(this,'#666666');" onMouseOut="mOut(this,'#999999');"><a href="juveniles/juveniles_inicio.html"><span class="TexAri1Blanca">Quinta 
                                Divisi&oacute;n</span></a></td>
                            </tr>
                            <tr align="center" bgcolor="#999999"> 
                              <td onMouseOver="mOvr(this,'#666666');" onMouseOut="mOut(this,'#999999');"><a href="juveniles/juveniles_inicio.html"><span class="TexAri1Blanca">Sexta 
                                Divisi&oacute;n</span></a></td>
                            </tr>
                            <tr align="center" bgcolor="#999999"> 
                              <td onMouseOver="mOvr(this,'#666666');" onMouseOut="mOut(this,'#999999');"><a href="juveniles/juveniles_inicio.html"><span class="TexAri1Blanca">S&eacute;ptima 
                                Divisi&oacute;n</span></a></td>
                            </tr>
                          </table>
                        </td>
                      </tr>
                    </table>
                  </div>
                  <div id="transmisiones" style="position:absolute; z-index:1; top: 66px; visibility: hidden" onMouseOver="ApareceCapa('transmisiones');" onMouseOut="ApagaCapa('transmisiones');"> 
                    <table width="387" border="0" cellspacing="0" cellpadding="0">
                      <tr align="right"> 
                        <td class="TexAri1Blanca"> <br>
                          <table width="100" border="0" cellspacing="1" cellpadding="1" bgcolor="#000000">
                            <tr align="center" bgcolor="#999999"> 
                              <td onMouseOver="mOvr(this,'#666666');" onMouseOut="mOut(this,'#999999');"><span class="TexAri1Blanca">En Vivo</span></td>
                            </tr>
                            <tr align="center" bgcolor="#999999"> 
                              <td onMouseOver="mOvr(this,'#666666');" onMouseOut="mOut(this,'#999999');"><a href="copas/copas_uruguaya.html"><span class="TexAri1Blanca">Audio</span></a></td>
                            </tr>
                            <tr align="center" bgcolor="#999999"> 
                              <td onMouseOver="mOvr(this,'#666666');" onMouseOut="mOut(this,'#999999');"><a href="institucion/inst_fundacion.html"><span class="TexAri1Blanca">VIdeo</span></a></td>
                            </tr>
                          </table>
                        </td>
                      </tr>
                    </table>
                  </div>
                  <div id="institucion" style="position:absolute; z-index:1; top: 66px; visibility: hidden" onMouseOver="ApareceCapa('institucion');" onMouseOut="ApagaCapa('institucion');"> 
                    <table width="307" border="0" cellspacing="0" cellpadding="0">
                      <tr align="right"> 
                        <td class="TexAri1Blanca"> <br>
                          <table width="100" border="0" cellspacing="1" cellpadding="1" bgcolor="#000000">
                            <tr align="center" bgcolor="#999999"> 
                              <td onMouseOver="mOvr(this,'#666666');" onMouseOut="mOut(this,'#999999');"><a href="institucion/index.php3?page=vsnacional/uru" class="TexAri1Blanca">Copa 
                                Uruguaya</a></td>
                            </tr>
                            <tr align="center" bgcolor="#999999"> 
                              <td onMouseOver="mOvr(this,'#666666');" onMouseOut="mOut(this,'#999999');"><a href="institucion/index.php3?page=vsnacional/internacional"><span class="TexAri1Blanca">Internacionales</span></a></td>
                            </tr>
                            <tr align="center" bgcolor="#999999"> 
                              <td onMouseOver="mOvr(this,'#666666');" onMouseOut="mOut(this,'#999999');"><a href="institucion/index.php3?page=autoridades/inicio_autoridades"><span class="TexAri1Blanca">Fundaci&oacute;n</span></a></td>
                            </tr>
                          </table>
                        </td>
                      </tr>
                    </table>
                  </div>
                  <table border="0" cellspacing="0" cellpadding="0" width="387">
                    <tr> 
                      <td background="img/img_general/fondo_pant.gif" align="center"> <object classid="clsid:D27CDB6E-AE6D-11cf-96B8-444553540000" codebase="http://download.macromedia.com/pub/shockwave/cabs/flash/swflash.cab#version=4,0,2,0" width="347" height="167" id="1">
                          <param name=movie value="flash/capenarol.swf">
                          <param name=menu value=false>
                          <param name=quality value=high>
                          <param name=wmode value=transparent>
                          <embed src="flash/capenarol.swf" menu=false quality=high wmode=transparent pluginspage="http://www.macromedia.com/shockwave/download/index.cgi?P1_Prod_Version=ShockwaveFlash" type="application/x-shockwave-flash" width="347" height="167">
                          </embed> 
                        </object></td>
                      <td width="39" background="img/img_general/fondo_pant.gif"> 
                        <div align="right"><img src="img/img_general/borde_pant_der.gif" width="39" height="198"></div>
                      </td>
                    </tr>
                  </table>
                </td>
              </tr>
            </table>
            <br>
            <table width="370" border="0" cellspacing="0" cellpadding="0" align="center">
              <tr> 
                <td valign="bottom" width="20"><img src="img/img_general/spacer.gif" width="20" height="2"></td>
                <td width="91"><img src="img/img_general/noticias.gif" width="91" height="17"></td>
                <td valign="bottom" width="259"><img src="img/img_general/spacer.gif" width="259" height="2"></td>
              </tr>
            </table>
<table width="370" border="0" cellspacing="0" cellpadding="0" align="center">
              <tr><!-- php -->
<% include('include/home/noticia_principal.inc'); %>
              </tr>
              <tr> 
                <td><img src="img/img_general/spacer.gif" width="220" height="2"></td>
                <td width="150"><img src="img/img_general/spacer.gif" width="150" height="2"></td>
              </tr>
            </table>
            <br>
            <table width="370" border="0" cellspacing="0" cellpadding="0" align="center">
              <tr> 
                <td width="220" valign="top"> 
                  <table width="220" border="0" cellpadding="0" cellspacing="0">
                    <tr> 
                      <td bgcolor="#000000" width="208" class="TexVer1Blanca"><b><span class="TexVer1Naranja">&Uacute;ltimas</span> 
                        Noticias</b></td>
                      <td width="12"><b><img src="img/img_general/curva_n_der.gif" width="12" height="13"></b></td>
                    </tr>
                  </table>
                  <table width="220" border="0" cellspacing="0" cellpadding="0">
                    <tr> 
                      <td class="TexVer1-33"><% 
$nivel = 2;
$nota = "noticias";
$caracteres = $char_unota;
include('include/home/ultimas_noticias.inc'); 
%></td>
                    </tr>
                    <tr> 
                      <td><img src="img/img_general/spacer.gif" width="220" height="1"></td>
                    </tr>
                    <tr> 
                      <td><% 
$nivel = 3;
$nota = "noticias";
$caracteres = $char_unota;
include('include/home/ultimas_noticias.inc'); 
%><a href="javascript:openwin('noticias/noticias_entrevista(base).html','nivel3','width=415,height=425,scrollbars=1')"> 
                        </a></td>
                    </tr>
                    <tr> 
                      <td><img src="img/img_general/spacer.gif" width="220" height="1"></td>
                    </tr>
                    <tr> 
                      <td><% 
$nivel = 4;
$nota = "noticias";
$caracteres = $char_unota;
include('include/home/ultimas_noticias.inc'); 
%></td>
                    </tr>
                  </table>
                </td>
                <td width="150" valign="top" align="right"> 
                  <table width="140" border="0" cellspacing="0" cellpadding="0">
                    <tr> 
                      <td rowspan="10" align="center" bgcolor="#000000" height="0"><img src="img/img_general/spacer.gif" width="1" height="170"></td>
                      <td bgcolor="#000000" class="TexVer1Naranja"><b>Capenarol</b><span class="TexAri1Blanca"> 
                        Recomienda</span></td>
                      <td rowspan="10" align="center" bgcolor="#000000" height="0"><img src="img/img_general/spacer.gif" width="1" height="10"></td>
                    </tr>
                    <% include('include/home/recomendados.inc'); %> 
                    <tr> 
                      <td valign="bottom"><img src="img/img_general/spacer.gif" width="140" height="2"></td>
                    </tr>
                  </table>
                </td>
              </tr>
            </table>
            <br>
            <table width="370" border="0" cellspacing="0" cellpadding="0" align="center">
              <tr> 
                <td height="29"> 
                  <table width="370" border="0" cellspacing="0" cellpadding="0" vspace="0" hspace="0">
                    <tr> 
                      <td width="206" bgcolor="#000000"><b class="TexVer1Naranja">La 
                        Frase </b><b class="TexAri1Blanca"> de la semana</b></td>
                      <td valign="bottom" align="right" width="164"> 
                        <div align="left"><img src="img/img_general/curva_n_der.gif" width="12" height="13"><img src="img/img_general/spacer.gif" width="152" height="1"></div>
                      </td>
                    </tr>
                  </table>
                  <table width="365" border="0" cellspacing="0" cellpadding="0" align="center" height="22" bgcolor="#000000">
                    <tr bgcolor="#FFFFFF"> 
                      <td valign="top" width="370" colspan="2" class="TexVer1-33"> 
                        <% include ('include/home/lafrase.inc'); %></td>
                    </tr>
                  </table>
                </td>
              </tr>
            </table>
            <table width="370" border="0" cellspacing="0" cellpadding="0" align="center">
              <tr> 
                <td height="29"> 
                  <table width="370" border="0" cellspacing="0" cellpadding="0" vspace="0" hspace="0">
                    <tr> 
                      <td width="370" colspan="2">&nbsp; </td>
                    </tr>
                  </table>
                  <table width="365" border="0" cellspacing="0" cellpadding="0" align="center" height="22" bgcolor="#000000">
                    <tr bgcolor="#FFFFFF"> 
                      <td valign="top" width="370" colspan="2"> <a href="javascript:openwin('registrate/index.html','formulario','width=420,height=400,scrollbars=1')" class="TexVer1-33"> 
                        <img src="img/img_general/go.gif" width="12" height="10" border="0"> 
                        <b>Para Recibir las &uacute;ltimas noticias de Pe&ntilde;arol 
                        en tu casilla</b><br>
                        &nbsp;&nbsp;&nbsp;&nbsp;Suscr&iacute;bete 
                        a nuestro News Letter</a></td>
                    </tr>
                  </table>
                </td>
              </tr>
            </table>
          </td>
          <td valign="top" width="132">
            <table width="132" border="0" cellspacing="0" cellpadding="0">
              <tr valign="bottom"> 
                <td><img src="img/img_general/margen_der.gif" width="132" height="29" usemap="#Map2" border="0" vspace="0" hspace="0"><map name="Map2"><area shape="rect" coords="0,4,53,17" href="javascript:openwin('registrate/index.html','formulario','width=420,height=400,scrollbars=1')" onMouseOver="ApareceCapa('servicios');" onMouseOut="ApagaCapa('servicios');"></map></td>
              </tr>
            </table>

                  
            <div id="servicios" style="position:absolute; z-index:1; top: 66px; visibility: hidden" onMouseOver="ApareceCapa('servicios');" onMouseOut="ApagaCapa('servicios');" class="TexAri1Blanca"> 
              <br>
                    <table width="100" border="0" cellspacing="1" cellpadding="1" bgcolor="#000000">
                            <tr align="center" bgcolor="#999999"> 
                              
                        <td onMouseOver="mOvr(this,'#666666');" onMouseOut="mOut(this,'#999999');" ><a href="#"><span class="TexAri1Blanca">Chats</span></a></td>
                            </tr>
<tr align="center" bgcolor="#999999"> 
                        
                  <td onMouseOver="mOvr(this,'#666666');" onMouseOut="mOut(this,'#999999');" ><a href="http://foros.capenarol.com"><span class="TexAri1Blanca">Foros</span></a></td>
                      </tr>
                      <tr align="center" bgcolor="#999999"> 
                        
                  <td onMouseOver="mOvr(this,'#666666');" onMouseOut="mOut(this,'#999999');"><a href="javascript:openwin('registrate/index.html','formulario','width=550,height=400,scrollbars=1')"><span class="TexAri1Blanca">e-mail</span></a></td>
                      </tr>
                      <tr align="center" bgcolor="#999999"> 
                        
                  <td onMouseOver="mOvr(this,'#666666');" onMouseOut="mOut(this,'#999999');"><a href="downloads/index.php3"><span class="TexAri1Blanca">Download</span></a></td>
                      </tr>
                      <tr align="center" bgcolor="#999999"> 
                        
                  <td onMouseOver="mOvr(this,'#666666');" onMouseOut="mOut(this,'#999999');"><a href="javascript:openwin('registrate/index.html','formulario','width=550,height=400,scrollbars=1')"><span class="TexAri1Blanca">Newsletter</span></a></td>
                      </tr>
                    </table>
                  </div>

            <table width="123" border="0" cellspacing="0" cellpadding="0" background="img/img_general/backer.gif">
              <tr> 
                <td width="5" align="center"><img src="img/img_general/backer.gif" width="5" height="5"></td>
                <td width="118"> 
                  <div align="center"><span class="TexVer1Negro"><b><i> 
                    <script language="">
function MakeArray(n) {
this.length = n
return this
}
monthNames = new MakeArray(12)
monthNames[1] = "Enero"
monthNames[2] = "Febrero"
monthNames[3] = "Marzo"
monthNames[4] = "Abril"
monthNames[5] = "Mayo"
monthNames[6] = "Junio"
monthNames[7] = "Julio"
monthNames[8] = "Agosto"
monthNames[9] = "Septiembre"
monthNames[10] = "Octubre"
monthNames[11] = "Noviembre"
monthNames[12] = "Deciembre"

var now = new Date();
var dia = now.getDate();
var mes = monthNames[now.getMonth() +1]
var anio = now.getYear();
document.write( dia + " de " + mes + " de " + anio)
</script>
                    &nbsp;Montevideo Uruguay<br>
                    </i></b></span> </div>
                  <img src="img/img_general/separador_doble.gif" width="117" height="15" vspace="1" hspace="0" border="0" align="right"><br>
<form name=chat action="javascript:window.location='./';newwin=window.open('http://argentina.sportsya.com/chat/new/?nicker=' + document.chat.nicker.value, 'chatYA', 'scrollbars=no,resizable=true,width=620,height=500,menubar=false,location=false');" method=get>
                    <table width="110" border="0" cellspacing="0" cellpadding="0">
                      <tr> 
                        <td colspan="3"><img src="img/img_general/chat.gif" width="110" height="37"></td>
                      </tr>
                      <tr> 
                        <td rowspan="2" align="center" bgcolor="#000000"><img src="img/img_general/spacer.gif" width="1" height="35"></td>
                        <td bgcolor="#FFA66E" background="img/img_general/rosa.gif" height="35" align="center" valign="middle" class="TexVer1Negro"> 
                          <b>Nick</b> 
                          <input type="text" size="6" class="TBOX" maxlength="100" align="left" name="nicker">
                          <b>
                          <input type="image" src="img/img_general/go.gif" name="Click para ingresar" value="Submit" border="0">
                          <a href="#"></a></b> </td>
                        <td rowspan="2" align="center" bgcolor="#000000"><img src="img/img_general/spacer.gif" width="1" height="35"></td>
                      </tr>
                      <tr> 
                        <td valign="bottom" background="img/img_general/rosa.gif"><img src="img/img_general/spacer.gif" width="108" height="1"></td>
                      </tr>
                    </table>
                  </form>
                  <img src="img/img_general/blanco.gif" width="110" height="1" align="middle"><br>
                  <a href="http://foros.capenarol.com"><span class="TexVer1Rojo"><b>FOROS</b></span><br>
                  <span class="TexAri1Negra">Este es un espacio <b>para tus opiniones.</b><br>
                  Aqu&iacute; podr&aacute;s volcar tus comentarios sobre los temas 
                  m&aacute;s variados</span></a><br>
                  <img src="img/img_general/separador_doble.gif" width="117" height="15" align="right" border="0" vspace="1" hspace="0"><br>
                  <table width="110" border="0" cellspacing="0" cellpadding="0">
                    <tr> 
                      <td><img src="img/img_general/encuesta.jpg" width="110" height="50"></td>
                    </tr>
                  </table>

<? include('include/home/encuesta.inc'); ?>

                  <div align="left"><img src="img/img_general/separador_doble.gif" width="117" height="15" align="right" border="0" vspace="1" hspace="0"> 
                    <br>
                    <a href="javascript:showImage('transmisiones/no_transmite.jpg', 'Transmisiones', '300', '250')"><img src="img/img_general/camaras.jpg" width="110" height="44" border="0" alt="En VIVO!!!"></a><br>
                    <br>
                    <table width="90" border="0" cellspacing="0" cellpadding="0">
                      <tr> 
                        <td class="TexAri1Blanca" width="80" bgcolor="#000000" background="img/img_general/spacer.gif"> 
                          <div align="left" class="TexAri1Blanca">Downloads</div>
                        </td>
                        <td class="TexAri1Blanca" width="10"><img src="img/img_general/curva_n_der.gif" width="12" height="13"></td>
                      </tr>
                    </table>
                    <table width="110" border="0" cellspacing="0" cellpadding="0" height="1">
                      <tr>
                        <td><img src="img/img_general/spacer.gif" width="110" height="1"></td>
                      </tr>
                    </table>
                    <table width="110" border="0" cellspacing="0" cellpadding="0">
                      <tr> 
                        <td><a href="javascript:openwin('noticias/noticias_entrevista(base).html','nivel3','width=415,height=425,scrollbars=1')" class="TexVer1Blanca"><b><img src="img/img_general/go.gif" width="12" height="10" border="0" vspace="2"></b></a><a href="downloads/index.php3?page=wallpapers" class="TexVer1Blanca"><b> 
                          <span class="TexVer1Negro">Wallpapers</span></b></a></td>
                      </tr>
                      <tr> 
                        <td><a href="javascript:openwin('noticias/noticias_entrevista(base).html','nivel3','width=415,height=425,scrollbars=1')" class="TexVer1Blanca"><b><img src="img/img_general/go.gif" width="12" height="10" border="0" vspace="2"></b></a><a href="downloads/index.php3?page=screensaver" class="TexVer1Blanca"><b> 
                          <span class="TexVer1Negro">Screensavers</span></b></a></td>
                      </tr>
                      <tr> 
                        <td><a href="javascript:openwin('noticias/noticias_entrevista(base).html','nivel3','width=415,height=425,scrollbars=1')" class="TexVer1Blanca"><b><img src="img/img_general/go.gif" width="12" height="10" border="0" vspace="2"></b></a><a href="downloads/index.php3?page=multimedia" class="TexVer1Blanca"><b> 
                          <span class="TexVer1Negro">Multimedia</span></b></a> 
                        </td>
                      </tr>
                    </table>
                    <br>
                  </div>
                  <table width="90" border="0" cellspacing="0" cellpadding="0">
                    <tr> 
                      <td class="TexAri1Blanca" width="80" bgcolor="#000000" background="img/img_general/spacer.gif"> 
                        <div align="center" class="TexAri1Blanca">En Un Segundo</div>
                      </td>
                      <td class="TexAri1Blanca" width="10"><img src="img/img_general/curva_n_der.gif" width="12" height="13"></td>
                    </tr>
                  </table>
                  
                  </td>
              </tr>
            </table>
            <img src="img/img_general/a_v_f.gif" width="125" height="39" usemap="#Map3" border="0"><map name="Map3"><area shape="rect" coords="6,7,33,32" href="rtsp://capenarol.com/capenarol/multimedia/audios/cuadro.ra" alt="Audio" title="Audio"><area shape="rect" coords="36,8,63,31" href="javascript:showImage('multimedia/img/festejo.jpg', 'Imagen', '248', '158')"" alt="Fotos" title="Fotos"><area shape="rect" coords="68,7,93,33" href="rtsp://capenarol.com/capenarol/multimedia/videos/vi_cumpleanospenarol.rm" alt="Videos" title="Videos"><area shape="circle" coords="109,24,8" href="javascript:openwin('legales/ayuda.html','ayuda','width=245,height=180,scrollbars=0')" alt="Ayuda" title="Ayuda"></map> 
          </td>
        </tr>
      </table>
    </td>
    <td width="20%" height="704">&nbsp;<? include "include/hitbox.inc" ?></td>
  </tr>
</table>
<table border="0" cellspacing="0" cellpadding="0" width="100%">
  <tr> 
    <td width="20%">&nbsp;</td>
    <td width="756"> 
      <table width="756" border="0" cellspacing="0" cellpadding="0">
        <tr> 
          <td width="11" valign="bottom"><img src="img/img_general/curva_inf_der_negro.gif" width="11" height="15"></td>
          <td width="745"> 
            <table width="745" border="0" cellspacing="0" cellpadding="0">
              <tr> 
                <td><img src="img/img_general/backer.gif" width="226" height="15"><img src="img/img_general/curva_inf_izq.gif" width="11" height="15"></td>
              </tr>
              <tr bgcolor="#F5D300"> 
                <td><img src="img/img_general/backer.gif" width="2" height="8"></td>
              </tr>
              <tr bgcolor="#999999"> 
                <td><img src="img/img_general/gris_oscu.gif" width="5" height="6"></td>
              </tr>
              <tr> 
                <td><img src="img/img_general/blanco.gif" width="8" height="2"></td>
              </tr>
              <tr bgcolor="#000000"> 
                <td> 
                  <table width="745" border="0" cellspacing="0" cellpadding="0">
                    <tr> 
                      <td align="right" class="TexVer1Blanca"><b>SportsYA Inc. 
                        todos los derechos reservados<br>
                        <a href="mailto:contactos@capenarol.com" class="TexVer1Naranja">Contáctenos</a> 
                        <a href="mailto:prensa@capenarol.com" class="TexVer1Naranja">- 
                        Prensa</a> <a href="legales/privacidad.html" class="TexVer1Naranja">- 
                        Privacidad</a> <a href="legales/terminos_de_uso.html" class="TexVer1Naranja">- 
                        Términos de Uso</a><br>
                        <a href="javascript:openwin('legales/fuentes.html','ayuda','width=300,height=200,scrollbars=0')" class="TexVer1Naranja">Fuentes 
                        Consultadas -</a> <a href="mailto:sugerencias@capenarol.com" class="TexVer1Naranja"> 
                        SUGERENCIAS</a></b></td>
                      <td><b><img src="img/img_banners/mastercard.gif" width="233" height="33" align="right" border="0"></b></td>
                    </tr>
                  </table>
                </td>
              </tr>
            </table>
          </td>
        </tr>
      </table>
    </td>
    <td valign="top" width="20%" bgcolor="#000000"> 
      <table width="100%" border="0" cellspacing="0" cellpadding="0">
        <tr background="img/img_general/blanco.gif" bgcolor="#FFFFFF"> 
          <td><img src="img/img_general/blanco.gif" width="8" height="15"></td>
        </tr>
        <tr bgcolor="#F5D300"> 
          <td><img src="img/img_general/backer.gif" width="2" height="8"></td>
        </tr>
        <tr bgcolor="#999999"> 
          <td><img src="img/img_general/gris_oscu.gif" width="5" height="6"></td>
        </tr>
        <tr bgcolor="#FFFFFF" background="img/img_general/blanco.gif"> 
          <td><img src="img/img_general/blanco.gif" width="8" height="2"></td>
        </tr>
        <tr bgcolor="#000000" background="img/img_general/spacer.gif"> 
          <td>&nbsp;</td>
        </tr>
      </table>
    </td>
  </tr>
  <tr bgcolor="#000000"> 
    <td width="20%"><img src="img/img_general/spacer.gif" width="8" height="8"></td>
    <td width="756"><img src="img/img_general/spacer.gif" width="8" height="8"></td>
    <td width="20%"><img src="img/img_general/spacer.gif" width="8" height="8"></td>
  </tr>
</table>
</body>
</html>
