<% 
$result = mysql_query ("select * from noticias where titulo like '%$q%' or contenido like '%$q%'");

$num = mysql_affected_rows();

$i = 0;

while ($row = mysql_fetch_array($result)) {

$i ++ ;

if ($i > $m && $i < $m + 11) {
%>
        <tr>
          <td><img src="../img/img_general/estrellita.gif" width="20" height="18"> 
            <span class="TexAri1Negra">
            <% echo $i %>.<a href="javascript:openwin('../noticias/?id=<% echo $row[id] %>&nota=noticias','nivel1','width=420,height=420,scrollbars=1')">
            <% echo $row[titulo] %></a> (<% echo date("d/m/y", $row[fecha]); %>)
            </span></td>
        </tr>
<%
   }
}


$result = mysql_query ("select * from entrevistas where titulo like '%$q%' or contenido like '%$q%'");

$num = $num + mysql_affected_rows();

while ($row = mysql_fetch_array($result)) {

$i ++ ;

if ($i > $m && $i < $m + 10) {
%>
        <tr>
          <td><img src="../img/img_general/estrellita.gif" width="20" height="18"> 
            <span class="TexAri1Negra">
            <% echo $i %>.<a href="javascript:openwin('../noticias/?id=<% echo $row[id] %>&nota=entrevistas','nivel1','width=420,height=420,scrollbars=1')">
            <% echo $row[titulo] %></a> (<% echo date("d/m/y", $row[fecha]); %>)</span></td>
        </tr>
<%
  }

}

if (ereg(" ", $q)) { 

  list($uno, $dos) = explode(" ", $q);
  $result = mysql_query ("select * from jugadores where nombre like '%$uno%' or nombre like '%$dos%' or apellido like '%$uno%' or apellido like '%$dos%'");

} else {

  $result = mysql_query ("select * from jugadores where nombre like '%$q%' or apellido like '%$q%'");

}

$num = $num + mysql_affected_rows();

while ($row = mysql_fetch_array($result)) {
$i ++ ;

if ($i > $m && $i < $m + 10) {

%>
        <tr>
          <td><img src="../img/img_general/estrellita.gif" width="20" height="18"> 
            <span class="TexAri1Negra"><a href="javascript:openwin('../jugadores/?id=<% echo $row[id] %>','nivel1','width=350,height=320,scrollbars=1')">
            <% echo $i %>. <% echo "$row[nombre] $row[apellido]" %></a></span></td>
        </tr>
<%
  }
 }
%>
